.overlayContainerRentalDetails{
    position: absolute;
    top: 0;
    left: 700;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.pageContentRentalDetails {
  margin-left: 6vw;
  margin-top: 25vh;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  color: #e79d83;
  font-family: "Yeseva One", Helvetica;
  font-size: 4vw;
  font-weight: 400;
  left: 6vw;
}

.image-gallery {
  display: flex;
  max-width: 95%;
}

.column {
  flex: 1;
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.column:first-child {
  flex: 2;
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #E89E84;
  max-width: 95%;
  margin-top: 30px;
}

@media (max-width: 900px) {
  .title {
    font-size: 2rem;
    margin-left: 10vw;
    white-space: normal; 
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-right: 10vw;
  }

  .pageContent {
    margin-left: 10vw;
    margin-top: 1vh;
  }
}

.rooms {
  color: #ffffff;
  font-family: "Poppins", Helvetica;

}

.ruleStyle {
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
}

.streamline-location {
  height: 2vh;
  width: 2vh;
  position: absolute;
}

.address-text {
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
  padding-left: 25px;
}

.description {
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
  max-width: 95%;
}

.bullet-list {
  columns: 2; /* Set the number of columns */
  margin-top: 2vh;
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
  max-width: 95%;
  margin-left: 2vw;
}

ul {
  list-style-type: disc; /* Use disc bullets, adjust as needed */
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 8px; /* Optional: Add spacing between list items */
}

.profile-pic {
  width: 9vh;
  height: 9vh;
}

.profile-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.profile-left {
  margin-right: 20px; /* Adjust the margin as needed */
}

.profile-right {
  flex: 1; /* Take remaining space */
}

.profile-pic {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
}

.profile-details {
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
  max-width: 95%;
}

.link-profile {
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
  max-width: 95%;
}


.reviews-pic {
  width: 15vh;
  height: 15vh;
}

.reviews-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.reviews-left {
  margin-right: 20px; /* Adjust the margin as needed */
}

.reviews-right {
  flex: 1; /* Take remaining space */
}

.reviews-pic {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
}

.reviews-grade {
  color: #E89E84;
  font-family: "Poppins", Helvetica;
  font-size: 3vh;
  font-weight: 900;
}

.link-reviews {
  color:#ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 2vh;
  max-width: 95%;
}

